/* Global Styles */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Define CSS Custom Properties (Variables) for theming
:root {
    // Light Theme (Default)
    --light-theme-main-bg: #ffffff;
    --light-theme-main-text: #000000;
    --light-theme-card-bg: #f0f0f0; // Slightly off-white for cards
    --light-theme-border-color: #e0e0e0;
    --light-theme-accent-green: #21bd29;
    --primary-action-color: #3f51b5;
    --primary-action-text-color: #ffffff;

    // Modern Dark Theme Palette
    --dark-theme-main-bg: #1f2937;
    --dark-theme-secondary-bg: #111827;
    --dark-theme-card-bg: #374151;
    --dark-theme-main-text: #f3f4f6;
    --dark-theme-secondary-text: #9ca3af;
    --dark-theme-accent-green: #00804f;
    --dark-theme-accent-green-text: #278d41;
    --dark-theme-border-color: #4b5563;
    --dark-theme-hover-bg: rgba(75, 85, 99, 0.7); // Adjusted for better visibility on #374151 or #111827
    --dark-theme-active-link-bg: rgba(52, 211, 153, 0.15);
}

body.dark-theme {
    /* Suas variáveis customizadas */
    --dark-theme-main-text: #f5f5f5;
    --dark-theme-secondary-bg: #181f2a;
    --dark-theme-card-bg: #232b3b;
    --dark-theme-border-color: #2c3440;
    --dark-theme-hover-bg: #232b3b;
    --dark-theme-accent-green: #00e676;
    --dark-theme-accent-green-text: #181f2a;

    /* Corrige cor do texto e ícone do mat-list-item do Angular Material */
    --mdc-list-list-item-label-text-color: #f5f5f5 !important;
    /* Cor do texto do menu */
    --mdc-list-list-item-leading-icon-color: #f5f5f5 !important;
    /* Cor do ícone do menu */
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}